body {
  background-color: #222;
  line-height: 1;
}

div {
  font-size: 10rem;
  text-align: center;
  background-color: #EEE;
}

.headerBox {
  font-size: 5rem;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 350px;
  text-align: center;
}

.pointing {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.box {
  top: 50px;
  left: 0px;
  position: fixed;
  width: 350px;
  height: 100%;
  /*border: 24px solid #666;*/
  /*border-radius: 8px;*/
}

.btns {
  margin: 5px;
  display: inline-block;
  width: 45%;
  float: left;
}

.grey {
  color: #666;
}

.light-grey {
  color: #CCC;
}

.red {
  color: #800000;
}

.green {
  color: #004700;
}

#slidedown {
  background: #FFF;
  color: #333;
  font-size: 12px;
  position: fixed;
  padding-top: 10px;
  top: -1000px;
  left: 5px;
  height: 500px;
  width: 340px;
  box-shadow: 0 0 5px rgba(0,0,0,.5); 
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#taskInput {
  position: relative;
  left: 5px;
  font-size: 2em;
  height: 40px;
  width: 200px;
  text-align: left;
  border: 1px dotted black;
}

#close {
  position: relative;
  top: 10px;
  right: 5px;
  cursor: pointer;

}

#reverse {
  position: relative;
  top: 10px;
  right: 5px;
  cursor: pointer;
}

#please {
  position: relative;
  top: 10px;
  right: 5px;
  cursor: pointer;
}

#slidedown text {
  display:block;
  left: 30px;
  height: 20px;
  margin-bottom: 6px;
  width: 100px;
} 

#slidedown.on {
  top: 55px;
}

.task-list {
  font-size: 2rem;
  text-align: left;
}

.task-done {
  /*background-color: rgba(80, 195, 85, 0.50);*/
  padding-left: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  padding-top: 2px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 2px;
  list-style: none;
}

.task {
  /*background-color: rgba(255, 0, 0, 0.50);*/
  padding-left: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  padding-top: 2px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 2px;
  list-style: none;
  font-size: 16px;
  text-align: left;
}
